html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* This is a hack to workaround the way .mdl-layout is handled with upgradeElement */
.mdl-layout__container > .mdl-layout__container {
  height: 0;
}

/* sticky footer */
.mdl-layout__content {
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
}

#schema-editor {
  width: 500px;
}

/*
dialog {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
}
*/
